* {
  box-sizing: border-box;
}
.header {
  background: #000;
  padding: 5px 0;
}
.logo {
  color: #fff;
  padding-left: 25px;
}
.logo-img {
  max-width: 30px;
}
.logo-text {
  position: relative;
  top: -5px;
}
.search input[type="text"] {
  margin: 20px;
  width: 500px;
  height: 35px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search button {
  width: 100px;
  height: 35px;
  padding: 15px;
  background: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center; 
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
}
.search button:hover {
  background: #000;
}
.recipeslist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  column-gap: 1.5em;
  row-gap: 1.5em;
}
.recipebox {
  background: #eee;
  padding: 50px;
}
.recipebox a {
  color: #000;
  text-decoration: none;
}
.recipebox.instructionbox {
  width: 800px;
}
.recipe-thumbnail {
  width: 100%;
  margin-bottom: 15px; 
}
.recipebox ul {
  margin: 0;
  padding: 0;
}
.recipebox li {
  list-style: none;
}
.recipe-name {
  font-size: 20px;
  font-weight: bold;
}
.recipe-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.recipebox .seeRecipeBtn {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.recipebox .seeRecipeBtn:hover {
  background: #000;
}
.recipe-description {
  margin: 15px 0;
}
.instruction {
  margin: 20px 0;
}
.watch-vid-title {
  margin-top: 10px;
}
.videoplayer {
  margin-top: 10px;
  border: 1px solid #ccc;
}
.footer {
  background: #000;
}